.contact {
    margin-top: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 30px 20%;
    background-color: #ffffff;
}

.contactCardWrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between; /* creates equal distance between cards */
    width: 100%;
    background-color: transparent;
}

.contactCard {
    width: 30%; /* adjust width as needed */
    height: 250px; /* adjust height as needed */
    background-color: #5727B0;
    border-radius: 15px;
    /* border: 1px solid #ccc; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
}

.contactCardTitle {
    font-size: 28px;
    font-weight: 800;
    /* padding-top: 10px; */
}

.contactCardSubtitle a {
    text-decoration: underline;
    color: #ffffff;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}